<div class="posts-new">
<%= form_for(@post, :url => {:action=>:create}) do |f|%>
    <div>
      <%= f.label "ほめられたいこと", class: "posts-new__title" %>
      <%= f.text_field :content, class: "posts-new__input" %>
    </div>
    <div>
      <%= f.submit "ほめて！", class: "posts-new__submit" %>
    </div>
  <% end %>
</div>
