<div class="posts-show">
  <p class="success">
    <%= flash[:success] %>
  </p>

  <p class="posts-show__homete">ほめて！</p>

  <div class="posts-show__post">
    <p class="posts-show__content">
      <%= @post.content %>
    </p>
    <div class="posts-show__reactions">
      <%= link_to reactions_create_path(emotion: 1, post_id: @post.id), class: 'posts-show__reaction' do %>
        <i class="icon far fa-thumbs-up"></i>
        <p class="text">いいね！</p>
      <% end %>
      <%= link_to reactions_create_path(emotion: 0, post_id: @post.id), class: 'posts-show__reaction' do %>
        <i class="icon fas fa-arrow-right"></i>
        <p class="text">次へ</p>
      <% end %>
    </div>
  </div>
</div>