// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.posts {
  &-show {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 2rem 1rem;
    max-width: 798px;

    &__homete {
      color: $primary;
      font-weight: bold;
    }

    &__post {
      border: 2px solid $primary;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
    }

    &__content {
      color: white;
      background-color: $primary;
      padding: 1rem;
      margin: 0;
      font-size: 2rem;
    }

    &__reactions {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      padding: 2rem 0;
    }

    &__reaction {
      color: $primary;
      text-decoration: none;
      text-align: center;
      width: 100px;
      margin: 0.5rem;

      .icon {
        font-size: 3rem;
      }

      .text {
        margin: 0;
        font-weight: bold;
      }

      .text-icon {
        font-family: a-otf-futo-min-a101-pr6n, serif;
        font-weight: 400;
        font-style: normal;
      }

      &.disabled {
        color: $primary-light;
      }
    }


  }


  &-new {
    padding: 5rem;
    background-color: white;
    text-align: center;

    &__title {
      font-size: 1.5rem;
      font-weight: bold;
      color: $primary;
      display: block;
    }

    &__input {
      margin: 0.5rem auto;
      height: 2.5rem;
      width: 14rem;
      background-color: #fdecd3;
      border: none;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      padding: 0 1rem;
    }

    &__submit {
      margin: 3rem auto 0.5rem;
      border: none;
      color: white;
      background-color: $primary;
      padding: 0.5rem 3rem;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      font-size: 1.25rem;
    }
  }
}
  